<html>
<header>
    <title>
        Demo Socket IO
    </title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        //  kết nối lên Server 
        // var socket = io("http://192.168.1.39:3000");
        // var socket = io("http://localhost:3000");
        var socket = io("https://node-js-demo-trung.herokuapp.com/");
        socket.on("Server-send-mau", function (data) {
            $("body").attr("bgColor",data);
            console.log("first === " + data);
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#maudo").click(function () {
                socket.emit("Client-send-mau", "red")
            });
            $("#mauxanh").click(function () {
                socket.emit("Client-send-mau", "blue")
            });
            $("#mauvang").click(function () {
                socket.emit("Client-send-mau", "yellow")
            });
        });
    </script>
    <style>
        #maudo,
        #mauxanh,
        #mauvang {
            width: 300px;
            height: 70px;
        }

        #maudo {
            background-color: red;
        }

        #mauxanh {
            background-color: blue;
        }

        #mauvang {
            background-color: yellow;
        }
    </style>
</header>

<body bgcolor="pink">
    <h1>ĐỔI MÀU NỀN</h1>
    <div id="maudo">Click Send all</div>
    <div id="mauxanh"></div>
    <div id="mauvang"></div>
    <div id="click">Click</div>
</body>

</html>