<html>
<header>
    <title>
        Demo Socket IO
    </title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        //  kết nối lên Server 
        // var socket = io("http://192.168.1.39:3000");
        var socket = io("http://localhost:3000");
        socket.on("Server-send-data", function (data) {
            $("#noidung").append(data + " ,");
        });
        socket.on("Server-client-only", function (data) {
            $("#noidung").append(data + " ,");
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#mrA").click(function () {
                socket.emit("Client-send-data", "HELLO")
            });

            $("#mrB").click(function () {
                socket.emit("Client-server-only", "trời ơi")
            });

        });
    </script>
</header>

<body>
    <h1>Hello world</h1>
    <div id="mrA">Click Send all</div>
    <div id="mrB">Click Send Me-Server</div>
    <div id="noidung"></div>
</body>

</html>